/* ===== МОБИЛЬНАЯ ВЕРСИЯ ===== */
@media (max-width: 768px) {
    .color-btn {
        width: 34px;
        height: 34px;
    }
    
    #barcodeCanvas {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .color-btn {
        width: 28px;
        height: 28px;
    }
}
